@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

.blog {
  margin-top: 80px;
  margin-bottom: 120px;

  &-title {
    @include head-lora-38;
    margin-bottom: 40px;
  }

  &__filter {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    &_categories {
      display: flex;
      align-items: center;
      gap: 30px;
      flex-grow: 1;
      margin-right: 30px;
      flex-wrap: wrap;

      &-category {
        display: flex;
        align-items: center;
        gap: 9px;
        color: $title-text-color;
        font-weight: 400;
        padding: 8px 20px 8px 20px;
        border-radius: 5px;
        border: 1.5px solid $title-text-color;

        svg {
          cursor: pointer;
        }
      }
    }

    &_dropdown {
      &-head {
        font-weight: 400;
        width: 148px;
        display: flex;
        box-sizing: border-box;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
      }

      &.open &-head {
        width: 257px;
        border-radius: 5px 5px 0px 0px;
        padding: 12px 23px;
        background-color: $footer-background-color;
      }

      &-body {
        display: none;

        &--category {
          font-weight: 400;
          color: $gray-filter-color;
          display: flex;
          justify-content: space-between;
          cursor: pointer;
        }
      }

      &.open &-body {
        display: flex;
        flex-direction: column;
        row-gap: 14px;
        padding: 12px 23px;
        border: 1.5px solid $footer-background-color;
        border-radius: 0 0 5px 5px;
      }
    }
  }

  &__articles {
    display: flex;
    column-gap: 24px;
    row-gap: 40px;
    flex-wrap: wrap;
  }

  .selected {
    color: $main-text-color;
  }

  &__pagination {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    .pagination-arrow {
      cursor: pointer;
      display: flex;
      position: relative;
      width: 10px;
      height: 19px;

      &.disabled {
        cursor: not-allowed;
      }
    }

    .pagination-pages {
      display: flex;
      align-items: center;
      margin-left: 40px;
      margin-right: 40px;
      column-gap: 20px;

      .pagination-page {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        font-size: 20px;
        font-weight: 400;

        &.active {
          color: $footer-background-color;
        }
      }
    }
  }
}
