@import "../../../../assets/styles/variables";

.comment {
  padding-bottom: 40px;

  &__head {
    display: flex;
    align-items: center;
    gap: 26px;
    margin-bottom: 15px;

    &_user {
      width: 60px;
      height: 60px;
      background-color: $footer-background-color;
      border-radius: 50%;
      border: 2px solid $title-text-color;
      position: relative;
      overflow: hidden;

      svg {
        position: absolute;
        top: 10px;
        left: 8px;
      }
    }

    &_info {
      font-weight: 600;

      &-name {
        margin-bottom: 10px;
        font-size: 18px;
        color: $title-text-color;
      }

      &-date {
        font-size: 14px;
        color: $gray-filter-color;
      }
    }
  }

  &__text {
    margin-bottom: 39px;
    font-weight: 400;
    font-size: 14px;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 15px;

    &_action {
      display: flex;
      gap: 3px;
      align-items: center;

      svg {
        cursor: pointer;
      }
    }

    & .active {
      color: $title-text-color;
    }
  }
}
