@import "variables";

@mixin head-lora-26 {
  color: $main-text-color;
  font-family: 'Lora', 'serif';
  font-size: 26px;
  font-weight: 400;
  font-style: normal;
}

@mixin head-lora-50 {
  color: #FFFFFF;
  font-family: 'Lora', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 65px;
}

@mixin head-lora-36 {
  font-family: 'Lora', serif;
  color: $title-text-color;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
}
@mixin head-lora-38 {
  font-family: 'Lora', serif;
  color: $title-text-color;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
}

